{% extends 'base.html' %}
{% load static %}
{% load category_tag %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'news/css/pages/authors.min.css' %}">
{% endblock %}

{% block title %}Authors{% endblock %}

{% block layouts %}
  {{ block.super }}
  {% get_categories %}
  {% include "inc/_manage.html" %}
{% endblock %}

{% block body %}
  <section class="authors-cards">
    <div class="authors-cards__container container">
      <div class="authors-cards__main">
        {% for user in user_list %}
          <a href="{{ user.get_absolute_url }}" class="authors-cards__card card">
            <figure class="card__profile">
              <img src="{{ user.avatar.url }}" alt="">
              <figcaption>
                <p class="authors-cards__author-fullname">{{ user.first_name }} {{ user.last_name }}</p>
              </figcaption>
            </figure>
            <p class="authors-cards__description">{{ user.bio }}</p>
            <div class="authors-cards__stats">
              <span>4.5</span>
              <span>{{ user.article_set.count }} articles</span>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
