{% extends 'base.html' %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'news/css/pages/create.min.css' %}">
{% endblock %}

{% block body %}
  <section class="create">
    <div class="create__container container">
      <div class="create__form-wrapper">
        <form class="create__form" action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.media }}
          {{ form.as_div }}
          <button class="create__btn btn" type="submit">Опубликовать</button>
        </form>
      </div>
    </div>
  </section>
{% endblock %}