{% extends 'base.html' %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'news/css/pages/favourites.min.css' %}">
  <link rel="stylesheet" href="{% static 'news/css/container-queries.css' %}">
  <link rel="stylesheet" href="{% static 'news/css/media/media-favourites.min.css' %}">
{% endblock %}

{% block body %}
  <section class="favourites">
    <div class="favourites__container container">

      {% if articles.exists %}
        <div class="favourites__btn-wrapper">
          <a class="favourites__btn btn" href="{% url 'news:favourites-clear' %}">Clear all</a>
        </div>
      {% endif %}

      <div class="favourites__grid">
        {% for article in articles %}
          {% include "news/components/card.html" %}
        {% empty %}
          <p class="favourites__empty">No favourite articles</p>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}

