{% extends 'base.html' %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'news/css/pages/profile.min.css' %}">
  <link rel="stylesheet" href="{% static 'news/css/media/media-profile.min.css' %}">
  <link rel="stylesheet" href="{% static 'news/css/container-queries.css' %}">
{% endblock %}

{% block title %}Профиль{% endblock %}

{% block body %}
  <section class="profile">
    <div class="profile__container container">
      <div class="profile__card">
        <div class="profile__header">
          <figure class="profile__figure">
            {% if user.avatar %}
              <img src="{{ user.avatar.url }}" alt="">
            {% else %}
              <img src="media/avatars/default.svg" alt="">
            {% endif %}
            <figcaption class="profile__caption">
              <h2 class="profile__name">{{ user.first_name }} {{ user.last_name }}</h2>
              {% if user.bio %}
                <p class="profile__description">{{ user.bio }}</p>
              {% else %}
                <p class="profile__description" style="color: gray;">No description</p>
              {% endif %}
            </figcaption>
          </figure>
        </div>
        <div class="profile__grid">
          <div class="profile__col">
            <div class="profile__about">
              <h4 class="profile__title">About</h4>
              <p class="profile__description">Online: {{ user.last_login|timesince }} ago</p>
              <p>Joined: <span class="profile__birthdate">{{ user.date_joined|date:"d.m.y" }}</span></p>
              <p class="profile__media">@{{ user.username }}</p>
            </div>
          </div>
          <div class="profile__col">
            <h3 class="profile__title profile__publication-title">Publications</h3>
            <ul class="profile__display">
              <li><a class="profile__display-link" href="{{ request.path }}?display=solid"><i
                      class="fa-solid fa-list"></i> Solid</a></li>
              <li><a class="profile__display-link" href="{{ request.path }}?display=split"><i
                      class="fa-solid fa-list-ul"></i> Split</a></li>
            </ul>
            <div class="profile__publications">
              <ul class="profile__list">
                {% if display_type %}
                  {% for article in user_articles %}
                    <li class="profile__publication grid-item__split">
                      <a href="{{ article.get_absolute_url }}" class="overlay-link"></a>
                      {% include "news/components/card-"|add:display_type|add:".html" %}
                    </li>
                  {% endfor %}
                {% else %}
                  {% for article in user_articles %}
                    {% if forloop.counter|divisibleby:2 %}
                      <li class="profile__publication grid-item__split">
                        <a href="{{ article.get_absolute_url }}" class="overlay-link"></a>
                        {% include "news/components/card-split.html" %}
                      </li>
                    {% else %}
                      <li class="profile__publication grid-item__solid">
                        <a href="{{ article.get_absolute_url }}" class="overlay-link"></a>
                        {% include "news/components/card-solid.html" %}
                      </li>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
