.categories-list {
  @media screen and (max-width: 1024px) {
    &__cards {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media screen and (max-width: 768px) {
    &__cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (max-width: 360px) {
    &__cards {
      grid-template-columns: 1fr;
    }
  }
}
