<div class="card-split-cq {{ additional_class }}">
  <a href="{{ article.get_absolute_url }}" class="overlay-link"></a>
  <div class="card-split">
    <div class="card-split__img-wrapper">
      <img class="card-split__img" src="{{ article.photo.url }}" alt="">
    </div>

    <div class="card-split__body">
      <p class="card-split__title">{{ article.title }}</p>
      <p class="card-split__subtitle">{{ article.content|truncatechars:50|striptags }}</p>
      <a href="{{ article.author.get_absolute_url }}" class="card-split__profile-link">
        <figure class="card-split__profile">
          <img src="{{ article.author.avatar.url }}" alt="Profile image">
          <figcaption>
            <p class="card-split__author">{{ article.author.first_name }} {{ article.author.last_name }}</p>
            <p class="card-split__pubdate">{{ article.created_at|date:"d M" }}</p>
          </figcaption>
        </figure>
      </a>
    </div>

    <div class="card-split__footer">
      <a class="card-split__link {% if request.user in article.bookmarks.all %}card-split__link_active{% endif %}" href="{% url 'news:favourites' article.pk %}">
        <i class="fa-solid fa-bookmark"></i>
      </a>
    </div>
  </div>
</div>
