<div class="card-split">
  <img class="card-split__img" src="{{ article.photo.url }}" alt="">

  <div class="card-split__body">
    <p class="card-split__title">{{ article.title }}</p>
    <p class="card-split__subtitle">Make money online through advertising</p>
    <a href="{{ article.author.get_absolute_url }}" class="card-split__profile-link">
      <figure class="card-split__profile">
        <img src="{{ article.author.avatar.url }}" alt="Profile image">
        <figcaption>
          <p class="card-split__author">{{ article.author.first_name }} {{ article.author.last_name }}</p>
          <p class="card-split__pubdate">{{ article.created_at|date:"d M" }}</p>
        </figcaption>
      </figure>
    </a>
  </div>

  <div class="card-split__footer">
    <a class="card-split__link" href="#!">
      <i class="fa-solid fa-bookmark"></i>
    </a>
  </div>
</div>