// Common
@import '../common';

/* ------Custom imports------ */

// Layouts
@import '../layouts/manage';

// Components
@import '../components/card-solid';
@import '../components/card-split';

.category-detail {
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    gap: 4rem;

    position: relative;
  }

  &__item {
    @include card;
  }

  &__empty {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    text-align: center;
  }
}

@include card-split-container-query;
@include card-solid-container-query;