// Common
@import '../common';

/* ------Custom imports------ */

// Layouts
@import '../layouts/manage';

// Components
@import '../components/card';

.category-detail {
  padding: 4rem 0;

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 29.5rem);
    grid-auto-rows: 1fr;
    gap: 4rem;
    justify-content: center;

    position: relative;
  }

  &__item {
    @include card;
  }

  &__empty {
    @include pos-center;
  }
}
