{% load static %}
{% url 'news:home' as home_url %}
{% url 'news:categories-list' as categories_list_url %}
{% url 'news:authors-list' as authors_list_url %}

<section class="manage">
  <div class="manage__container container">
    <div class="manage__current-category">
      <i class="fa-solid fa-star"></i>
      <span>{{ current_category }}</span>
    </div>

    <div class="manage__output">
      <ul>
        <li class="{% if request.path == home_url %}manage__output_active{% endif %}">
          <a href="{{ home_url }}">Articles</a>
        </li>
        <li class="{% if request.path == categories_list_url %}manage__output_active{% endif %}">
          <a href="{{ categories_list_url }}">Categories</a>
        </li>
        <li class="{% if request.path == authors_list_url %}manage__output_active{% endif %}">
          <a href="{{ authors_list_url }}">Authors</a>
        </li>
      </ul>
    </div>

    <div class="manage__sort">
      <span>Sort by:</span>
      <div>
        <button class="manage__sort-btn btn">Date <i class="fa-solid fa-chevron-down"></i></button>
        <ul class="manage__sort-dropdown">
          <li><a href="#" class="manage__sort-dropdown__link">Rate</a></li>
          <li><a href="#" class="manage__sort-dropdown__link">Latest</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<script src="{% static 'news/js/manage.min.js' %}"></script>