{% load static %}

<section class="manage">
  <div class="manage__container container">
    <div class="manage__current-category">
      <i class="fa-solid fa-star"></i>
      <span>{{ current_category }}</span>
    </div>

    <div class="manage__output">
      <ul>
        <li class="manage__output_active">
          <a href="{% url 'news:home' %}">Articles</a>
        </li>
        <li>
          <a href="{% url 'news:categories-list' %}">Categories</a>
        </li>
        <li>
          <a href="{% url 'news:authors-list' %}">Authors</a>
        </li>
      </ul>
    </div>

    <div class="manage__sort">
      <span>Sort by:</span>
      <div>
        <button class="manage__sort-btn btn">Date <i class="fa-solid fa-chevron-down"></i></button>
        <ul class="manage__sort-dropdown">
          <li><a href="#" class="manage__sort-dropdown__link">Rate</a></li>
          <li><a href="#" class="manage__sort-dropdown__link">Latest</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<script src="{% static 'news/js/manage.min.js' %}"></script>